@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@700&display=swap');


*{
margin: 0;
padding: 0;



}
body{
margin: 0;
background-color: #f5f3f3;
height: 100%;
width: 100%;
justify-content: center;
display: flex;
align-items: center;
font-family: "Montserrat", sans-serif;
flex-direction: column;
padding-top: 70px;
}

.haeder{

height: 10%;
width: 100%;
background-color: burlywood;
z-index: 1000;
box-shadow: 0 0 1px #000000;
align-items: center;
position: fixed;
top: 0;
left: 0;
}



button{
border: none;
background: none;
margin: 30px;
font-size: 30px;
color: #000000;
cursor: pointer;

}


button:hover{
    color: rgb(62, 69, 69);
}

ul{
background-color: #ffffff;
height: 100%;
width: 150px;
list-style-type: none;
margin: 10px;
box-shadow: 0 0 1px #000000;

}

li{

    padding: 15px;
}

li a{

color: #000000;
font-size: 15px;
text-decoration: none;
display: block;
font-weight: bold;

}



.content{
display: flex;
justify-content: start;
align-items: center;
height: 100%;
width: 100%;
background-color: #f5f3f3;
flex-direction: column;
margin: auto;

}

.grid{

display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px
}


.box1{

height: 100px;
width: 320px;
background-color: #ffff;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0 0 1px #000000;
margin: 10px;

}

.botola{
height: 30px;
width: 300px;
justify-content: space-between;
display: flex;
align-items: center;
font-weight: bold;
font-size: 13px;
  
    
   
}

.botola p{

    font-size: 13px;
    color: rgb(3, 3, 3);
    padding: 0px 0px 0px 20px;


}
.botola h6{

    font-size: 10px;
    color: rgb(3, 3, 3);
    padding: 0px 10px 0px 10px;
    background-color: rgb(19, 212, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 14px;
    visibility: hidden; /* يخفي النص لكن يترك مكانه */
    


}






.match{


display: flex;
justify-content: space-around;
height: 60px;
width: 320px;
align-items: center;


}
.date{
font-size: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 3px;


}

.flag1{
height: 40px;
width: 120px;
display: flex;
justify-content:space-between ;
align-items: center;



}


.flag1 p{
color: #000000;
font-size: 12px;
padding: 5px;
font-weight: bold;

}

.flag2{
height: 40px;
width: 120px;
display: flex;
justify-content:space-between;
align-items: center;

}

.flag2 p{
color: #000000;
font-size: 12px;
padding: 5px;
justify-content: flex-end;
font-weight: bold;
}


.pronostic{

height: 30px;
width: 300px;
justify-content: space-between;
display: flex;
align-items: center;
font-weight: bold;
font-size: 13px;


}

.pronostic h5{

    background-color: #deb887;
    height: 16px;
    width: 62px;
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
    
}



.text{

    width: 700px;
    text-align: center;
    margin: 40px;
    font-size: 13px;
}


.futter{


   height: 98px;
   width: 100%;
   background-color: #deb887;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
    
}


.brand{

font-size: 25px;
gap: 20px;
display: flex;
margin: 40px;


}


.sen{

display: flex;
flex-direction: column;

}

@media (max-width:500px){

.content{
display: flex;
justify-content: start;
align-items: center;
height: 100%;
width: 100%;
background-color: #f0f0f0;
flex-direction: column;
}

.text{

    width: 300px;
    text-align: center;
    margin: 40px;
    font-size: 12px;
}

.grid{

grid-template-columns: 1fr;

}


}